@page "/savings"

@using SmartSaver.Presentation.Models
@using SmartSaver.Presentation.Helpers
@using System.Text.Json

@inject HttpClient Http
@inject IJSRuntime JsRuntime


<style>
    body {
        background-color: #ebf5fc;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%235982ed' fill-opacity='1' d='M0,32L26.7,37.3C53.3,43,107,53,160,80C213.3,107,267,149,320,160C373.3,171,427,149,480,149.3C533.3,149,587,171,640,202.7C693.3,235,747,277,800,256C853.3,235,907,149,960,122.7C1013.3,96,1067,128,1120,133.3C1173.3,139,1227,117,1280,101.3C1333.3,85,1387,75,1413,69.3L1440,64L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: bottom;
    }


    .sidebar {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 70%, #fff 100%);
    }
</style>

<div class="topnav">
    <a class="active" href="savings">Goals</a>
    <a href="savings/goalcreation">Create a new Goal</a>
    <a href="savings/goaledit">Add funds to your goal</a>
</div>




<h1>Saving Goals</h1>

@if (_savingGoals == null)
{
    <p><em>Loading...</em></p>
} else
{

<table class="styled-table">
    <thead>
        <tr>
            <th>Goal Name</th>
            <th>Description</th>
            <th>Goal Amount</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Progress</th>
            <th>Progress %</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goal in _savingGoals)
        {
            <tr>
                <td>@goal.GoalName</td>
                <td>@goal.Description</td>
                <td>@goal.GoalAmount $</td>
                <td>@goal.StartDate.ToString("MM/dd/yyyy")</td>
                <td>@goal.FinishDate.ToString("MM/dd/yyyy")</td>
                <td>@goal.Progress $</td>
                <td>@goal.ProgressPercentageValue.ToString("0.00") %</td>
            </tr>
        }
    </tbody>
</table>
}





@code {

    //Static:
    //private List<SavingGoal> _savingGoals = SavingGoalsHelper.staticGoals;
    //DB:
    private SavingGoal[] _savingGoals;


    protected override async Task OnInitializedAsync()
    {
        _savingGoals = await Http.GetFromJsonAsync<SavingGoal[]>("http://localhost:5000/savings");
    }




    private SavingGoal savingGoal = new SavingGoal();
    public void CreateGoal()
    {
        Console.WriteLine(JsonSerializer.Serialize(savingGoal));
    }


}